@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
}

.wrapper .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  background-color: beige;
}

.carousel .card {
  /* background-color: pink; */
  margin: 20px 0;
  line-height: 250px;
  text-align: center;

  font-size: 90px;
  font-weight: 600;
  color: brown;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel .card-1 {
  background-color: #88d3d8;
}
.carousel .card-2 {
  background-color: #d3cfe6;
}
.carousel .card-3 {
  background-color: #fac0bf;
}
.carousel .card-4 {
  background-color: #d2e8c7;
}
.carousel .card-5 {
  background-color: #fafad2;
}
