@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
}

.wrapper .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel .card {
  margin: 20px 0;
  line-height: 250px;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: brown;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel .card-1 {
  background-color: #88d3d8;
}
.carousel .card-2 {
  background-color: #d3cfe6;
}
.carousel .card-3 {
  background-color: #fac0bf;
}
.carousel .card-4 {
  background-color: #d2e8c7;
}
.carousel .card-5 {
  background-color: #fafad2;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  border-radius: 25px;
  border: 2px solid #0072bc !important;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot:active {
  background: #0072bc !important;
}
